
<h1>MarkDown Widget</h1>
<p>Enter your markdown below. Your text will appear to the right.</p>
<table>
  <tr>
    <td><textarea id='rawtext' rows='40' cols='50'></textarea>
    </td>
    <td><div id='preview'>This is a test preview.</div></td>
  </tr>
</table>

